
ShapeshifterDispatcherSwift.xcodeproj/xcuserdata/mafalda.xcuserdatad/xcschemes/xcschememanagement.plist
ShapeshifterDispatcherSwift.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
